$color-primary: #cac1c1;
$color-secondary: red;
$width: 100%;
$width-card: 90%;
$width-small: 5rem;
$color-light: #fff;
$color-dark: #191919;
$size: 0.5rem;
$color-black: #000;
$shadow: rgb(249, 245, 216);
